In [1]:
import pandas as pd
import numpy as np

In [2]:
from typing import Callable

from enum import Enum
from functools import wraps

In [3]:
from typing import Callable

from enum import Enum
from functools import wraps

class Permission(Enum):
    Default = 0
    Admin = 1
    Student = 2
    
    def sudo(upper, session, task):
        original_permission = session.permission
        session.permission = upper
        result = task()
        session.permission = original_permission
        return result

    def require(permission):
        def wrapper(f):
            @wraps(f)
            def wrapped(self, *args, **kwargs):
                if self.permission == permission:
                    return f(self, *args, **kwargs)
                raise Exception("Invalid Permission")
            return wrapped
        return wrapper

In [4]:
class T(Enum):
    contacts = 1
    students = 2
    classes = 3
    course = 4
    credits = 5

In [5]:
class Session(object):
    def __init__(self, user: int, permission: Permission):
        self.user = user
        self.permission = permission

    @property
    def isAdmin(self) -> bool:
        return self.permission == Permission.admin

    def require():
        def wrapper(f):
            @wraps(f)
            def wrapped(self, *args, **kwargs):
                if self.session:
                    return f(self, *args, **kwargs)
                raise Exception("Session required")
            return wrapped
        return wrapper

In [81]:
from os import path
class Manager:
    def __init__(self, files):
        if not all(t in files for t in T):
            raise "Must include all files"
        self.files = files
        self.__frames = {file: pd.read_csv(filename, dtype=object, sep=" *, *", encoding="UTF-8") for file, filename in files.items()}
        self.__columns = {file: frame.columns.values for file, frame in self.__frames.items()}
        self.__values_admin = {file: frame.values for file, frame in self.__frames.items()}
        self.__values_user = {t: np.zeros((0, self.__columns[t].size)) for t in T}
        self.__session = Session(None, Permission.Default)

    def load_user(self):
        for t, file in self.files.items():
            self.__session.user
            filename = '{}_{}'.format(self.__session.user, file)
            if path.isfile(filename):
                self.__values_user[t] = pd.read_csv(filename, dtype=object, sep=" *, *", encoding="UTF-8").values
            else:
                self.__values_user[t] = np.zeros((0, self.__columns[t].size))
        
    def login(self, user, pw):
        if user == 'admin':
            self.__session = Session(user, Permission.Admin)
        else:
            password = Permission.Admin.sudo(self.__session, lambda: self.findOne(['password'], T.students, {'sid': user}))
            if password and password[0] == pw:
                self.__session = Session(user, Permission.Student)
                self.load_user()
            else:
                raise Exception('Invalid ID or Password')
    
    @property
    def permission(self) -> Permission:
        return self.__session.permission
    
    @Permission.require(Permission.Admin)
    def values_admin(self) -> np.ndarray:
        return self.__values_admin
    
    @Permission.require(Permission.Student)
    def values_student(self) -> np.ndarray:
        return self.__values_user
    
    @Permission.require(Permission.Admin)
    def set_values_admin(self, target: T, v: np.ndarray):
        self.__values_admin[T] = v
    
    @Permission.require(Permission.Student)
    def set_values_student(self, target: T, v: np.ndarray):
        self.__values_user[T] = v
    
    @property
    def values(self) -> np.ndarray:
        return {
            Permission.Admin: self.values_admin,
            Permission.Student: self.values_student,
        }[self.__session.permission]()
    
    @property
    def columns(self) -> np.ndarray:
        return self.__columns
    
    def elements(self, t: T) -> np.ndarray:
        return np.vstack([
            Permission.Admin.sudo(self.__session, lambda: self.values[t]),
            Permission.Student.sudo(self.__session, lambda: self.values[t])
        ])
    
    def create(self, target: T, values = np.ndarray):
        self.values[target] = np.vstack([self.values[target], np.array(values)])
    
    def remove(self, target: T, where: dict = {}):
        self.values[target] = np.delete(self.values[target], self.findIndex(target, where), 0)
    
    def update(self, target: T, where: dict = {}, values = np.ndarray):
        for key, value in values.items():
            self.values[target][self.findIndex(target, where), np.where(self.__columns[target] == key)[0][0]] = value
    
    def findIndex(self, target: T, where: dict = {}) -> np.ndarray:
        return np.where(
            np.logical_and(
                *[self.values[target][:,column] == value for column, value in zip(
                    [np.where(self.__columns[target] == case)[0][0] for case in where],
                    where.values()
                )],
                np.ones(np.size(self.values[target], 0), dtype=np.bool),
                np.ones(np.size(self.values[target], 0), dtype=np.bool)
            )
        )[0]

    def findAll(self, subject: list, target: T, where: dict = {}) -> np.ndarray:
        return self.values[target][self.findIndex(target, where)]\
                          [:, [np.where(self.__columns[target] == case)[0][0] for case in (subject if subject else self.__columns[target])]]
    
    def findOne(self, subject: list, target: T, where: dict = {}) -> object:
        try:
            return self.findAll(subject, target, where)[0]
        except:
            return None
    
    # target function
    @property
    def emails(self):
        return zip(*map(lambda x: x.split('@'), db.findAll(['email'], T.contacts).squeeze()))
    
    def __str__(self):
        pass

In [82]:
db = Manager({
    T.contacts: 'contacts.csv',
    T.students: 'students.csv',
    T.classes: 'class.csv',
    T.course: 'course.csv',
    T.credits: 'credits.csv',
})

c:\utility\conda\lib\site-packages\ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys

In [84]:
db.login('admin', None)

In [59]:
db.create(T.students, [2016001234, 'xxx', '홍길동', 'male', 6, 1999002345, 1])

In [60]:
db.create(T.contacts, [2016001234, '01088884444', 'hong@hanyang.ac.kr'])

In [61]:
db.remove(T.contacts, {"sid": db.findOne(["sid"], T.students, {"sname": "김다현"})})

In [66]:
from numpy import apply_along_axis as npa

In [79]:
local

('amaclead',
 'art',
 'donette.foller',
 'fletcher.flosi',
 'gladys.rim',
 'gruta',
 'jbutt',
 'josephine_darakjy',
 'kiley.caldarera',
 'kris',
 'leota',
 'lpaprocki',
 'mattie',
 'meaghan',
 'minna_amigon',
 'mitsue_tollner',
 'sage_wieser',
 'simona',
 'yuki_whobrey',
 'hong',
 'hong')

In [80]:
domain

('gmail.com',
 'venere.org',
 'cox.net',
 'yahoo.com',
 'rim.org',
 'cox.net',
 'gmail.com',
 'darakjy.org',
 'aol.com',
 'gmail.com',
 'hotmail.com',
 'hotmail.com',
 'aol.com',
 'hotmail.com',
 'yahoo.com',
 'yahoo.com',
 'cox.net',
 'morasca.com',
 'aol.com',
 'hanyang.ac.kr',
 'hanyang.ac.kr')

In [19]:
pd.read_csv('./business_cards/Fire_corp.csv', header=None)

      0           1                        2    3
0   파이리  1052340004     charmander@fire.poke   사장
1   날쌩마  1020607709       rapidash@fire.poke   부장
2   브케인  1041553104      cyndaquil@fire.poke   과장
3   푸호꼬  1086530042       fennekin@fire.poke   사원
4  화살꼬빈  1066162014   fletchling@normal.poke   인턴

In [21]:
db.columns

{<T.contacts: 1>: array(['sid', 'phone', 'email'], dtype=object),
 <T.students: 2>: array(['sid', 'password', 'sname', 'sex', 'major_id', 'tutor_id', 'grade'],
       dtype=object),
 <T.classes: 3>: array(['class_id', 'class_no', 'course_id', 'name', 'major_id', 'grade',
        'credit', 'instructor_id', 'capacity', 'year_open', 'room_id'],
       dtype=object),
 <T.course: 4>: array(['cid', 'cname', 'credit'], dtype=object),
 <T.credits: 5>: array(['sid', 'class_id', 'grade'], dtype=object)}

In [51]:
# login as 정남아
db.login('2009003125', '125125125')

In [ ]:
# login as 윤인욱
db.login('2013004394', 'goodboy')

In [ ]:
# login as 장두호
db.login('2014005004', 'hexahed')